<div class="container">
  <form class="form-admin-new-order" #newClient="ngForm" (ngSubmit)="postNewClient(newClient)">
    <h3>Данные о вас</h3>
    <div class="form-group row">
      <div class="col-6">
        <label for="lastname">Фамилия</label>
        <div class="input-group">
          <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Иванов">
        </div>
      </div>
      <div class="col-6">
        <label for="firstname">Имя</label>
        <div class="input-group">
          <input type="text" id="firstname" name="firstname" class="form-control" ngModel placeholder="Иван">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <label for="birthdate">Дата рождения</label>
        <div class="input-group">
          <input id="birthdate" class="form-control" ngModel placeholder="yyyy-mm-dd" name="birthdate" ngbDatepicker #birthdate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="birthdate.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label for="passport">Паспорт</label>
        <div class="input-group">
          <input type="text" id="passport" name="passport" class="form-control" ngModel placeholder="0000 123456">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <label for="phone">Телефон</label>
        <div class="input-group">
          <input type="text" id="phone" name="phone" class="form-control" ngModel placeholder="+79999999999">
        </div>
      </div>
      <div class="col-6">
        <label for="email">E-mail</label>
        <div class="input-group">
          <input type="text" id="email" name="email" class="form-control" ngModel placeholder="example@example.com">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="password">Пароль</label>
        <div class="input-group">
          <input type="password" id="password" name="password" class="form-control" ngModel placeholder="************">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-dark mt-3">Отправить</button>
  </form>
</div>
