<nav class="navbar navbar-fixed-top navbar-light">
  <div class="container">
    <ul class="nav" routerLinkActive="active">
      <li class="nav-item ml-1"><button class="nav-link btn btn-primary" routerLink="home">Главная</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="orders">Мои Заказы</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="new-order">Заказать</button></li>
      <li *ngIf="!isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="login">Войти</button></li>
      <li *ngIf="!isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="register">Зарегистрироваться</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-5"><button class="nav-link btn btn-danger" (click)="logOut()" routerLink="../home">Выйти</button></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
