<nav class="navbar navbar-fixed-top navbar-light">
  <div class="container">
    <h5 *ngIf="isUserAuthenticated()" class="text-center">Приветствуем, {{userDisplayName}}</h5>
    <h5 *ngIf="!isUserAuthenticated()" class="text-center">Добро пожаловать в систему Bronnik</h5>
    <ul class="nav" routerLinkActive="active">
      <li class="nav-item ml-1"><button class="nav-link btn btn-primary" routerLink="home">Домой</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="analytic">Анализ</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="users">Работники</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="orders">Заказы</button></li>
      <li *ngIf="!isUserAuthenticated()" class="nav-item ml-2"><button class="nav-link btn btn-primary" routerLink="login">Войти</button></li>
      <li *ngIf="isUserAuthenticated()" class="nav-item ml-5"><button class="nav-link btn btn-danger" (click)="logOut()" routerLink="../home">Выйти</button></li>
    </ul>
  </div>
</nav>

<div *ngIf="!isUserAuthenticated()" class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>Добро пожаловать в систему управления бронированиями <b>Bronnik</b> !</h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
