<div class="container">
  <div class="mt-5 text-center">
    <h3>Вы успешно зарегистрировались!</h3>
  </div>
  <div class="mt-3 text-center">
    <h5>Для дальнейшей работы авторизуйтесь, используя кнопку "войти"</h5>
  </div>
</div>
