<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>Добро пожаловать в систему управления бронированиями <b>Bronnik</b> !</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h5>Если вы вошли под учетной записью Менеджера, вам доступна вкладка "Заказы" в верхнем меню.</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h5>Если вы вошли под учетной записью Аналитика, вам доступна вкладка "Анализ" в верхнем меню.</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h5>Если вы Администратор, вам доступны все пункты.</h5>
    </div>
  </div>

</div>
