<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-8">
        <h1>Работники</h1>
        <p>Ниже отображается список текущих работников</p>
      </div>
      <div class="col-2">
        <ng-template #newEmployee let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Добавить нового работника</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-admin-new-order" #adminNewEmployee="ngForm" (ngSubmit)="postNewEmployee(adminNewEmployee)">
              <h3>Данные о работнике</h3>
              <div class="form-group row">
                <div class="col-6">
                  <label for="lastname">Фамилия</label>
                  <div class="input-group">
                    <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Иванов">
                  </div>
                </div>
                <div class="col-6">
                  <label for="firstname">Имя</label>
                  <div class="input-group">
                    <input type="text" id="firstname" name="firstname" class="form-control" ngModel placeholder="Иван">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label for="birthdate">Дата рождения</label>
                  <div class="input-group">
                    <input id="birthdate" class="form-control" ngModel placeholder="yyyy-mm-dd" name="birthdate" ngbDatepicker #birthdate="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="birthdate.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="passport">Паспорт</label>
                  <div class="input-group">
                    <input type="text" id="passport" name="passport" class="form-control" ngModel placeholder="0000 123456">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label for="phone">Телефон</label>
                  <div class="input-group">
                    <input type="text" id="phone" name="phone" class="form-control" ngModel placeholder="+79999999999">
                  </div>
                </div>
                <div class="col-6">
                  <label for="email">E-mail</label>
                  <div class="input-group">
                    <input type="text" id="email" name="email" class="form-control" ngModel placeholder="example@example.com">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  <label for="id_position">Должность (id)</label>
                  <div class="input-group">
                    <input type="text" id="id_position" name="id_position" class="form-control" ngModel placeholder="1">
                  </div>
                </div>
                <div class="col-4">
                  <label for="login">Логин</label>
                  <div class="input-group">
                    <input type="text" id="login" name="login" class="form-control" ngModel placeholder="superMops99">
                  </div>
                </div>
                <div class="col-5">
                  <label for="password">Пароль</label>
                  <div class="input-group">
                    <input type="text" id="password" name="password" class="form-control" ngModel placeholder="************">
                  </div>
                </div>
              </div>
              <div class="justify-content-end">
                <button type="submit" class="btn btn-outline-dark" (submit)="modal.close('Save click')">Добавить</button>
              </div>
            </form>
          </div>
        </ng-template>
        <button class="new-bn btn btn-lg btn-outline-primary" (click)="open(newEmployee)">Добавить работника</button>
      </div>
    </div>

    <table class="mt-3">
      <thead>
      <tr>
        <td>Номер работника</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Должность</td>
        <td>Дата рождения</td>
        <td>Действия</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <ng-template [ngTemplateOutlet]="loadTemplate(employee)"
                     [ngTemplateOutletContext]="{ $implicit: employee}">
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<router-outlet></router-outlet>


<ng-template #employeesTemplate let-employee>
  <td>{{employee.id_employee}}</td>
  <td>{{employee.lastname}}</td>
  <td>{{employee.firstname}}</td>
  <td>{{employee.id_position}}</td>
  <td>{{employee.birthdate}}</td>
  <td><button>уволить</button></td>
</ng-template>
