<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>Добро пожаловать в систему Отеля <b>Bronnik</b> !</h3>
      <h5>Чтобы оформить заказ авторизуйтесь или зарегистрируйтесь</h5>
      <h5>Чтобы просмотреть номера нажмите кнопку ниже</h5>
      <button class="nav-link btn btn-primary" routerLink="/rooms">Комнаты</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h5>Узнайте что у нас нового или просмотрите отзывы о нас!</h5>
    </div>
    <div class="col-2">
      <button class="nav-link btn btn-primary" routerLink="/news">Новости</button>
    </div>
    <div class="col-2">
      <button class="nav-link btn btn-primary" routerLink="/feedbacks">Отзывы</button>
    </div>
  </div>
</div>
