<div class="container">
  <div class="w-100">
    <h1 class="m-5 text-center">
      Новости
    </h1>
  </div>
  <div class="row" *ngFor="let news of News">
    <ng-template [ngTemplateOutlet]="loadTemplate(news)"
                 [ngTemplateOutletContext]="{ $implicit: news}">
    </ng-template>
  </div>
</div>

<ng-template #newsTemplate let-news>
  <div class="row mt-4">
    <div class="row">
      <div class="col-8">
        <h2 class="text-center">{{news.title}}</h2>
        <p class="text-center">{{news.description}}</p>
        <button class="m-auto text-center float-right">Читать далее</button>
      </div>
      <div class="col-4">
        <img src="http://192.168.0.62:5050{{news.photo}}" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
  <span>{{news.date}}</span>
</ng-template>

