<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-10">
        <h1>Архив бронирований</h1>
        <p>Ниже отображается список архивированных бронирований</p>
      </div>
      <div class="col-2">
        <button class="new-bn btn btn-lg btn-outline-primary" (click)="openOrders()">Назад</button>
      </div>
    </div>

    <table class="mt-3">
      <thead>
      <tr>
        <td>Номер заказа</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Комната</td>
        <td>Заезд</td>
        <td>Выезд</td>
        <td>Дата бронирования</td>
        <td>Сумма</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <ng-template [ngTemplateOutlet]="loadTemplate(order)"
                     [ngTemplateOutletContext]="{ $implicit: order}">
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<router-outlet></router-outlet>


<ng-template #archiveOrder let-order>
  <td>{{order.id}}</td>
  <td>{{order.lastname}}</td>
  <td>{{order.firstname}}</td>
  <td>{{order.id_room}}</td>
  <td>{{order.date_in}}</td>
  <td>{{order.date_out}}</td>
  <td>{{order.date_order}}</td>
  <td>{{order.total_price}}</td>
</ng-template>
