<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-8">
        <h1>Активные бронирования</h1>
        <p>Ниже отображается список текущих актиных бронирований</p>
      </div>
      <div class="col-2">
        <ng-template #newReserve let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Новое бронирование</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-admin-new-order" #adminNewOrder="ngForm" (ngSubmit)="postNewOrder(adminNewOrder)">
              <h3>Данные о клиенте</h3>
              <div class="form-group row">
                <div class="col-6">
                  <label for="lastname">Фамилия</label>
                  <div class="input-group">
                    <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Иванов">
                  </div>
                </div>
                <div class="col-6">
                  <label for="firstname">Имя</label>
                  <div class="input-group">
                    <input type="text" id="firstname" name="firstname" class="form-control" ngModel placeholder="Иван">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label for="birthdate">Дата рождения</label>
                  <div class="input-group">
                    <input id="birthdate" class="form-control" ngModel placeholder="yyyy-mm-dd" name="birthdate" ngbDatepicker #birthdate="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="birthdate.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="passport">Паспорт</label>
                  <div class="input-group">
                    <input type="text" id="passport" name="passport" class="form-control" ngModel placeholder="0000 123456">
                  </div>
                </div>
              </div>
              <div class="form-group row" style="padding-bottom: 20px; border-bottom: 1px solid #dee2e6;">
                <div class="col-6">
                  <label for="phone">Телефон</label>
                  <div class="input-group">
                    <input type="text" id="phone" name="phone" class="form-control" ngModel placeholder="+79999999999">
                  </div>
                </div>
                <div class="col-6">
                  <label for="email">E-mail</label>
                  <div class="input-group">
                    <input type="text" id="email" name="email" class="form-control" ngModel placeholder="example@example.com">
                  </div>
                </div>
              </div>
              <h3>Данные о заказе</h3>
              <div class="form-group row">
                <div class="col-2">
                  <label for="id_room">Комната</label>
                  <div class="input-group">
                    <input type="text" id="id_room" name="id_room" class="form-control" ngModel placeholder="Иванов">
                  </div>
                </div>
                <div class="col-5">
                  <label for="date_in">Дата заезда</label>
                  <div class="input-group">
                    <input id="date_in" class="form-control" ngModel placeholder="yyyy-mm-dd" name="date_in" ngbDatepicker #date_in="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="date_in.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <label for="date_out">Дата выезда</label>
                  <div class="input-group">
                    <input id="date_out" class="form-control" ngModel placeholder="yyyy-mm-dd" name="date_out" ngbDatepicker #date_out="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="date_out.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 offset-8"><h4>Итого:</h4></div>
                <div class="col-2"><h4>0 RUB</h4></div>
              </div>
              <div class="justify-content-end">
                <button type="submit" class="btn btn-outline-dark" (submit)="modal.close('Save click')">Добавить</button>
              </div>
            </form>
          </div>
        </ng-template>
        <button class="new-bn btn btn-lg btn-outline-primary" (click)="open(newReserve)">Создать</button>
      </div>
      <div class="col-2">
        <button class="new-bn btn btn-lg btn-outline-primary" (click)="openArchive()">Архив</button>
      </div>
    </div>

    <table class="mt-3">
      <thead>
        <tr>
          <td>Номер заказа</td>
          <td>Фамилия</td>
          <td>Имя</td>
          <td>Комната</td>
          <td>Заезд</td>
          <td>Выезд</td>
          <td>Дата бронирования</td>
          <td>Сумма</td>
          <td>Действия</td>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <ng-template [ngTemplateOutlet]="loadTemplate(order)"
                     [ngTemplateOutletContext]="{ $implicit: order}">
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<router-outlet></router-outlet>


<ng-template #readOnlyTemplate let-order>
  <td>{{order.id}}</td>
  <td>{{order.lastname}}</td>
  <td>{{order.firstname}}</td>
  <td>{{order.id_room}}</td>
  <td>{{order.date_in}}</td>
  <td>{{order.date_out}}</td>
  <td>{{order.date_order}}</td>
  <td>{{order.total_price}}</td>
  <td><button (click)="moveToArchive(order.id)">архив</button></td>
</ng-template>
