<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-8">
        <h1>Ваши активные бронирования</h1>
      </div>
    </div>

    <table class="mt-3">
      <thead>
        <tr>
          <td>Номер заказа</td>
          <td>Фамилия</td>
          <td>Имя</td>
          <td>Комната</td>
          <td>Заезд</td>
          <td>Выезд</td>
          <td>Дата бронирования</td>
          <td>Сумма</td>
          <td>Действия</td>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <ng-template [ngTemplateOutlet]="loadTemplate(order)"
                     [ngTemplateOutletContext]="{ $implicit: order}">
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<router-outlet></router-outlet>


<ng-template #readOnlyTemplate let-order>
  <td>{{order.id}}</td>
  <td>{{order.lastname}}</td>
  <td>{{order.firstname}}</td>
  <td>{{order.id_room}}</td>
  <td>{{order.date_in}}</td>
  <td>{{order.date_out}}</td>
  <td>{{order.date_order}}</td>
  <td>{{order.total_price}}</td>
</ng-template>
