<div class="container">
  <h3 class="text-center mt-3">Раздел Аналитика</h3>

  <div class="">
    <x-chartist
      *ngFor="let chart of charts"
      class="col-md-6"
      [data]="chart.data"
      [type]="chart.type"
      [options]="chart.options"
      [responsiveOptions]="chart.responsiveOptions"
      [events]="chart.events">
    </x-chartist>
  </div>
</div>
