<div class="container">
<!--  <form class="form-admin-new-order" #NewOrder="ngForm" (ngSubmit)="postNewOrder(NewOrder)">-->
    <h3>Данные о бронировании</h3>
    <div class="form-group row">
      <div class="col-2">
        <label for="id_room">Комната</label>
        <div class="input-group">
          <input type="text" id="id_room" name="id_room" class="form-control" ngModel placeholder="1">
        </div>
      </div>
      <div class="col-5">
        <label for="date_in">Дата заезда</label>
        <div class="input-group">
          <input id="date_in" class="form-control" ngModel placeholder="yyyy-mm-dd" name="date_in" ngbDatepicker #date_in="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="date_in.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-5">
        <label for="date_out">Дата выезда</label>
        <div class="input-group">
          <input id="date_out" class="form-control" ngModel placeholder="yyyy-mm-dd" name="date_out" ngbDatepicker #date_out="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="date_out.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 offset-8"><h4>Итого:</h4></div>
      <div class="col-2"><h4>0 RUB</h4></div>
    </div>
    <div class="justify-content-end">
      <button type="submit" class="btn btn-outline-dark">Добавить</button>
    </div>
<!--  </form>-->
</div>
