<div class="container">
  <div class="w-100">
    <h1 class="m-5 text-center">
      Отзывы
    </h1>
  </div>
  <div class="feedbacks row">
    <div class="col-3 feedback">
      <h3>Отлично</h3>
      <p>Прекрасный отель!</p>
    </div>
    <div class="col-3 feedback">
      <h3>Отлично</h3>
      <p>Прекрасный отель!</p>
    </div>
    <div class="col-3 feedback">
      <h3>Отлично</h3>
      <p>Прекрасный отель!</p>
    </div>
    <div class="col-3 feedback">
      <h3>Отлично</h3>
      <p>Прекрасный отель!</p>
    </div>
    <div class="col-3 feedback">
      <h3>Отлично</h3>
      <p>Прекрасный отель!</p>
    </div>
  </div>
</div>
